//Use built-in variables for customization of form
$primary: #bf6466;
$body-bg: #fbd6da;
//Import Bootstrap Sass file for customization
@import '~bootstrap/scss/bootstrap.scss';

/* Color Palette Start */
$brand-color-primary: #bf6466;
$brand-color-secondory: #fbd6da;
$base-color-primary: #2c2425;
$base-color-secondary: #362929;
$base-color-secondary-light: #6a4f4d;
$animation-color-front: #2e3744;
$text-color-primary: #ede0df;
$text-color-secondary: #cca49f;
/* End: Color Palette */

