//Use built-in variables for customization of form
$primary: #ff1a1a;
$body-bg: #7b6a6b;
//Import Bootstrap Sass file for customization
@import '~bootstrap/scss/bootstrap.scss';

/* Color Palette Start */
$brand-color-primary: #ff1a1a;
$brand-color-secondary: #635f5f;
$base-color-primary: #1a0000;
$base-color-secondary: #322b2b;
$base-color-secondary-light: #4d4b4b;
$text-color-primary: #ede0df;
$text-color-secondary: #e3aca8;
/* End: Color Palette */

/*Tag selectors: Start*/
body {
    background-color: $base-color-primary;
}

div {
    color: $text-color-primary;
}

h1,
h3 {
    color: $brand-color-primary;
}

img {
    width: 100%;
}
/*End: Tag selectors*/

//Use built-in class selectors: Start
.form-control:focus {
    box-shadow: 0 0 0 0.25rem lighten($brand-color-primary, 10%);
    //border-color: grey;
}

.form-text {
    color: $brand-color-secondary;
}
//End: Use built-in class selector

/*Class selectors: Start*/
.movie-view--img {
    border-radius: 5px;
    margin-top: 10px;
}

.movie-view--bg {
    background-color: darken($base-color-primary, 5%);
}

.movie-card--bg {
    background-color: $base-color-secondary;
}

.navbar-bg {
    background-color: $base-color-secondary;
    border-radius: 5px;
}
/*End: Class selectors*/
